<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <h3 class="section-title">About</h3>
            <div class="section-title-divider"></div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div>
                <img class="img-circle timeline-image" src="~/Content/img/about/about.jpg" alt="">
                <h4 class="about-label">Vinyl Collection</h4>
                <p class="text-muted">
                    This website is not finalized yet.
                    Initially this is being created to demonstrate some of my skills as a developer.<br />
                    The idea is that in the future it could be a portal where lovers of vinyl records
                    can control their collections and exchange discs.<br />
                </p>
                <ul class="list-inline social-buttons">
                    <li class="item-rede-social">
                        <a target="_blank" href="https://github.com/rafaelbittenca/VinylCollection">
                            <img class="social-media" src="~/Content/img/about/github.png" />
                        </a>
                    </li>
                </ul>
                <p class="text-muted">
                    This application is using:<br /><br />
                    C# Microsoft .NET MVC5; Entity Framework 6.0 with CodeFirst; SQLServer;<br />
                    BootStrap; Html5; CSS3; JQuery; JQueryBootGrid; JavaScript; JSON; Toastr; <br />
                    Generic Repository; Unit of Work; Autofac(IoC); AutoMapper;<br /><br />
                </p>
            </div>
        </div>
    </div>
    <br />
</div>