<!--Carousel-->
<section id="page-top">
	<header>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for carousel items <a id="link-about" class="page-scroll" href="#page-about">About</a> -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="~/Content/img/carousel/slide1.jpg"/>
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center intro-text">
							<span  class="intro-lead-in">Welcome To My Collection!</span>
							<br>
							<br>
							<div class="">
								<a id="link-about" class="btn btn-custom btn-laranja btn-lg page-scroll" href="@Url.Action("Index", "Artist")">Show Me</a>
							</div>
						</div>
					</div><!-- /header-text -->
				</div>
				<div class="item">
					<img src="~/Content/img/carousel/slide2.jpg" />
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center intro-text">
							<span class="intro-lead-in">Welcome To My Collection!</span>
							<br>
							<br>
							<div class="">
								<a id="link-about" class="btn btn-custom btn-laranja btn-lg page-scroll" href="@Url.Action("Index", "Artist")">Show Me</a>
							</div>
						</div>
					</div><!-- /header-text -->
				</div>
				<div class="item">
					<img src="~/Content/img/carousel/slide3.jpg" />
					<div class="header-text hidden-xs">
						<div class="col-md-12 text-center intro-text">
							<span class="intro-lead-in">Welcome To My Collection!</span>
							<br>
							<br>
							<div class="">
								<a id="link-about" class="btn btn-custom btn-laranja btn-lg page-scroll" href="@Url.Action("Index", "Artist")">Show Me</a>
							</div>
						</div>
					</div><!-- /header-text -->
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control left" data-target="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="carousel-control right" data-target="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</header>
</section>

