<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To My Collection!</div>
            <br /><br />
            <a href="#page-about" class="btn btn-custom btn-laranja btn-lg page-scroll">Show Me</a>
        </div>
    </div>
</header>


@*<div class="light-wrapper">
        <div class="col-image">
            <div class="bg-wrapper col-md-6">
                <div class="bg-holder" style="background-image: url(../../Content/img/bg-header3.jpg);"></div>
            </div>
            <!--/.bg-wrapper -->
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7 inner-col">
                        <h3 class="section-title">a little about me</h3>
                        <div class="section-title-divider"></div>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod.</p>
                        <ul class="progress-list">
                            <li>
                                <p>Photoshop <em>90%</em></p>
                                <div class="progress plain">
                                    <div class="sonny_progressbar" data-width="90"><p class="title"></p><div class="bar-container " style="background-color:#E0E0E0;height:15px;"><span class="backgroundBar"></span><span class="bar" style="background-color: rgb(249, 115, 82); opacity: 1; width: 90%;"></span></div></div>
                                </div>
                            </li>
                            <li>
                                <p>Final Cut <em>80%</em></p>
                                <div class="progress plain">
                                    <div class="sonny_progressbar" data-width="80"><p class="title"></p><div class="bar-container " style="background-color:#E0E0E0;height:15px;"><span class="backgroundBar"></span><span class="bar" style="background-color: rgb(249, 115, 82); opacity: 1; width: 80%;"></span></div></div>
                                </div>
                            </li>
                            <li>
                                <p>Studio Photography <em>85%</em></p>
                                <div class="progress plain">
                                    <div class="sonny_progressbar" data-width="85"><p class="title"></p><div class="bar-container " style="background-color:#E0E0E0;height:15px;"><span class="backgroundBar"></span><span class="bar" style="background-color: rgb(249, 115, 82); opacity: 1; width: 85%;"></span></div></div>
                                </div>
                            </li>
                            <li>
                                <p>Motion Video <em>75%</em></p>
                                <div class="progress plain">
                                    <div class="sonny_progressbar" data-width="75"><p class="title"></p><div class="bar-container " style="background-color:#E0E0E0;height:15px;"><span class="backgroundBar"></span><span class="bar" style="background-color: rgb(249, 115, 82); opacity: 1; width: 75%;"></span></div></div>
                                </div>
                            </li>
                        </ul>
                        <!-- /.progress-list -->
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/.container -->
        </div>
        <!--/.col-image -->
    </div>*@