<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To My Collection!</div>
            <br /><br />
            <a href="#page-about" class="btn btn-custom btn-laranja btn-lg page-scroll">Show Me</a>
        </div>
    </div>
</header>