@{
    ViewBag.Title = "Home";
}

<!-- Carousel Section -->
@Html.Partial("Carousel")

<!-- About Section -->
<section id="page-about">
    @Html.Partial("About")
</section>

<section id="page-more">
    @Html.Partial("More")
</section>

<!-- Contact Section-->
<section id="page-contact">
    @Html.Partial("Contact")
</section>
<script src="~/Scripts/analyticstracking.js"></script>