<div class="container">
    <div class="row text-center">
        <br /><br />
        <div class="col-md-12">
            <div>
                <img class="img-circle timeline-image" src="~/Content/img/about/aboutme.jpg" alt="">
                <h4 class="about-label">Rafael Bittencourt</h4>
                <p class="more-text">I love developing software and I have been doing it for 18 years.</p>
                <ul class="list-inline social-buttons">
                    <li class="item-rede-social">
                        <a target="_blank" href="https://www.linkedin.com/in/rafael-bittencourt/?locale=en_US">
                            <img class="social-media" src="~/Content/img/about/LinkedIn-sm.png" />
                        </a>
                    </li>
                    <li class="item-rede-social">
                        <a target="_blank" href="https://www.facebook.com/bittenca">
                            <img class="social-media" src="~/Content/img/about/facebook.png" />
                        </a>
                    </li>
                    <li class="item-rede-social">
                        <a target="_blank" href="https://www.instagram.com/rafaelbittenca">
                            <img class="social-media" src="~/Content/img/about/instagram.png" />
                        </a>
                    </li>
                </ul>
            </div>
            <br />
            <div class="text-center">
                <a id="link-about" class="btn  btn-custom btn-custom-sm btn-laranja page-scroll" href="@Url.Action("AboutMe", "Home")">More about me</a>
            </div>
        </div>
        <br />
    </div>
</div>