
/*.bs-example {
	margin: 20px;
}*/

/*
.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
    padding: 10px;
}

.header-text h3 span {
    background-color: #000;
    padding: 15px;
}*/






















/*.btn-custom-sm {
	padding: 15px 45px;
}*/






/*.fa-stack-1x {
    color:white;
    border-radius: 50%;
}
.icon-facebook {
   color:#000;
}

.icon-instagram {
    color:#000;
}

.icon-linkedin{
    color:#000;
}*/















/* ----------------------------------------------------------------------------------- */




