html, body, header {
	height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
	 min-height: 100%;
}

header {
  background-image: url('img/bg-header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;*/
  background-size: cover;
  /*-o-background-size: cover;*/
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 50px;
  }
}

footer {
	background-color: #222222;
	padding: 10px 0;
}

.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}

.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #fed136;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-custom {
	background-color: transparent;
	padding: 10px 0;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
	border: none;
  }
  .navbar-custom .navbar-brand {
	font-size: 2em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
	border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
	background-color: #222222;
	padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
	font-size: 1.5em;
  }
}


::-moz-selection {
  text-shadow: none;
  background: #fed136;
}
::selection {
  text-shadow: none;
  background: #fed136;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}


.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 15px 95px;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}

.btn-custom-sm {
	padding: 15px 45px;
}

.btn-laranja {
	background: #fed136;
}
.btn-laranja:hover {
	background-color: #6207e3;
	color: white;
}

.item-rede-social{
	float: none;
}

.social-media {
	width: 30px;
	height: 30px;
}

.copyright {
	color: #9f9a9a;
}

.copyright a {
	color: #9f9a9a;
	text-decoration: none;
}

.copyright a:hover {
	color: #6207e3;
}

#map{
	  height:400px;
	  width:100%;
}

.section-title {
	font-size: 32px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.control-label {
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.about-label {
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
	color: #fed136;
}

.section-title-divider {
	width: 80px;
	height: 3px;
	background: #03C4EB;
	margin: 0 auto;
	margin-bottom: 20px;
}

.img-circle {
	border-radius: 50%;
}

.timeline-image {
	left: 0;
	margin-left: 0;
	width: 100px;
	height: 100px;
	/*position: absolute;
	z-index: 100;*/
	background-color: #fed136;
	color: #fff;
	border-radius: 100%;
	border: 7px solid #f1f1f1;
	text-align: center;
}

#page-more {
	height:400px;
	width:100%;
	background-image:url('img/floripa.jpg');
	opacity:0.80;
	min-height:400px;
	position:relative;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

.more-text {
	color: white;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 22px;
}

/* ----------------------------------------------------------------------------------- */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #fed136;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
	left: 50%;
  }
  .timeline > li {
	margin-bottom: 100px;
	min-height: 100px;
  }
  .timeline > li .timeline-panel {
	width: 41%;
	float: left;
	padding: 0 20px 20px 30px;
	text-align: right;
  }
  .timeline > li .timeline-image {
	width: 100px;
	height: 100px;
	left: 50%;
	margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
	font-size: 13px;
	margin-top: 16px;
	line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
	float: right;
	text-align: left;
	padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
	min-height: 150px;
  }
  .timeline > li .timeline-panel {
	padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
	font-size: 18px;
	margin-top: 30px;
	line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
	padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
	min-height: 170px;
  }
  .timeline > li .timeline-panel {
	padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
	width: 170px;
	height: 170px;
	margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
	margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
	padding: 0 100px 20px 20px;
  }
}

#about-me {
  padding: 70px 0 70px 0;
}
#about-me h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
#about-me h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  #about-me {
	padding: 120px 0 60px 0;
  }
}

#login-page {
  padding: 70px 0 70px 0;
}

@media (min-width: 768px) {
  #login-page {
	padding: 120px 0 150px 0;
  }
}

